.container {
  position: relative;
  line-height: 0;
}

.icon {
  width: var(--size);
  height: var(--size);
  border-radius: 0.25rem;
  border: 1px solid #bdd4e9;
}

.coolingDown {
  animation: fade 2s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 0.7;
    filter: blur(1px);
  }

  50% {
    opacity: 0.5;
    filter: blur(1.5px);
  }

  100% {
    opacity: 0.7;
    filter: blur(1px);
  }
}
