@use "../../colors" as *;

.container {
  --fill-color: #ffffff;
  width: 100vw;
  background: var(--fill-color);
  border-bottom: 2px solid $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 3px rgb(0 0 0 / 0.3);
  z-index: 1;
}

.contentContainer {
  width: 100%;
  transition: height 0.2s ease;
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

.scoreAndSpecialContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.resourceGridContainer {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.undoButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  & > svg {
    height: 1rem;
    fill: white;
  }
}

.btnContainer {
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
