@use "../../colors" as *;

.handle {
  position: relative;
  line-height: 0;
  z-index: 2;
  width: 100%;
  display: flex;

  & * {
    font-family: "Amboy";
    color: $dark-blue;
  }
}

.handleInfo {
  display: flex;
  transition: all 0.4s ease;
  gap: 2rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.openButton {
  border: none;
  line-height: 0;
  background: none;
  outline: transparent;
  border-left: 1px solid #ccc;
  padding: 0.5rem 1rem;
  transition: width 0.4s ease, background-color 0.2s ease, border-color 0.4s ease;

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

.tags {
  padding: 0.25rem 1rem;
  background: #ddd;
  border-radius: 0.25rem;
}

.trophyIcon,
.infoIcon,
.bars {
  fill: $dark-blue;
}

.trophyIcon,
.bars {
  height: 1rem;
}

.infoIcon {
  height: 1.25rem;
}
