@use "../../../../colors" as *;

.mkraanCrystal {
  height: 2rem;
  animation: jiggle 4s linear infinite;
}

.mkraanText {
  color: $mkraan-purple;
}

@keyframes jiggle {
  10% {
    rotate: 0deg;
  }
  11.5% {
    rotate: -15deg;
  }
  14.5% {
    rotate: 15deg;
  }
  16.5% {
    rotate: -5deg;
  }
  18.5% {
    rotate: 5deg;
  }
  19.5% {
    rotate: 0deg;
  }
}
