@use "../../../colors" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px dashed #aaa;
}

.subtitle {
  font-family: Amboy;
  align-self: flex-end;
  color: $light-blue;
  font-size: smaller;
}
