$cutoff: 800px;

$dark-blue: #351c7f;
$blue: #533d96;
$light-blue: #745fb6;
$gold: #ca9b00;
$orange-red: #fa5d14;
$red: #fa1414;
$mkraan-purple: #c532a5;
$checkmark-green: #1ace6b;
$slash-red: #e63f33;

$dash-border: 1px dashed #aaa;