.debug {
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #333;
  bottom: 1rem;
  left: 1rem;
  font-family: monospace;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
