.debug {
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #333;
  bottom: 1rem;
  left: 1rem;
  font-family: monospace;
  transition: opacity 0.2s ease;
  max-height: calc(100vh - 2rem);
  overflow-y: scroll;

  &:hover {
    opacity: 0.2;
  }
}

.mapContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}